.nav-pills > .noround a {
  border-radius: 0px;
  background-color: #eee
}

.nav.nav-pills>li+li {
  margin-left: 0px;
  /*orig: 2px*/
}

.tab-pane {
  background-color: rgba(125, 125, 125, 0.1);
  padding: 1.5rem;
  margin-top: 0.3rem;
}

.tab-pane h3 {
  margin-top: 1rem;
}

li.active .btn-group .btn {
  background-color: #337ab7;
  color: #fff;
}

table.table {
  width: 80%;
  font-size: 1.5rem;
}

thead .table-head {
  box-sizing: border-box;
  color: rgb(125, 125, 125, 0.7);
  height: 50%;
}